html{
    scroll-behavior: smooth;
    font-size: 0.9vw !important;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'DejaVuSans' !important;
}
@font-face {
  font-family: 'DejaVuSans';
  src: url('./assets/fonts/DejaVuSans.woff2') format('woff2'),
      url('DejaVuSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: 'DejaVuSans Bold';
  src: url('./assets/fonts/DejaVuSans-Bold.woff2') format('woff2'),
      url('DejaVuSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: 'DejaVuSans';
  src: url('./assets/fonts/DejaVuSans-Bold.woff2') format('woff2'),
      url('DejaVuSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
img{
  width: 100%;
  height: 100%;
}
p{
  margin: 0 0 30px !important ;
}
a{
  text-decoration: none;
}

ol li,ul li{
  font-size: 1.3rem ;
  font-weight: bold !important;
}
i {
  color: rgba(40,40,40,1);
}

.image-common-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cover{
    width: 23%;
    padding: 0 1%;
}
.infoEachElection{
    padding-top: 1%;
}
.intro-common-container{
  width: 70%;
  margin: 3% auto;
  text-align: center;
}
.intro-common-container p{
  font-size: 1.5rem ;
}
.intro-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo{
  cursor:pointer;
  padding-top: 1%;
  width:6%;
}
/*button style start*/

.frame {
    width: 100%;
    text-align: center;
}
.button {
    margin: 20px;
}
.custom-btn {
    font-weight: bold;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
}

.custom-btn {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgb(255 27 0 / 75%) 0%, rgb(251 75 2) 100%);
}
.custom-btn:hover {
    color: #f0094a;
    background: transparent;
    box-shadow:none;
}
.custom-btn:before,
.custom-btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition:400ms ease all;
}
.custom-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.custom-btn:hover:before,
.custom-btn:hover:after{
    width:100%;
    transition:800ms ease all;
}
  
/*button style end*/  



.text_info{
    max-width: 740px;
    margin: 10px auto;
}
.main_title{
    text-align: center;
    font-size: 2rem ;
    font-weight: 600;
    opacity: .9;
    padding: 2% 0;
}
.two_elections-title{
    font-size: 1.5rem !important;
    font-weight: 600;
    opacity: .9;
    color: red;
}
.Subtitle ul li,.Subtitle p{
    font-size: 2rem ;
    font-weight: 600;
    opacity: .9;
}
.main-paragraphs p{
    color: rgba(40,40,40,0.8);
    font-size: 1.4rem !important;
    line-height: 1.5;
    font-weight: 0 !important;
}

.currentSection0,.currentSection1,.currentSection2,.currentSection3,.currentSection4,.currentSection5,.currentSection6,.currentSection7{
    display: none;
}
.active{
    display: block;
}


.main-fullscreen-cover{
    width: 70%;
    
}
.fullscreen-cover{
    margin: 3% auto;
}
.authors-container{
  margin: 5% 0;
}
.author_each-container,.authors-container{
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
}
.author-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.author_each-container span:not(:first-child),.additional-info{
  font-size: 1.2rem;
}
.additional-info:before,.authors:before{
  border-top: 2px solid #e77454;
  content: "";
  display: block;
  margin: 1rem auto;
  width: 6rem;
}
footer{
  width: 100%;
  height: 70px;
  background: #ecececcf;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
footer div p{
  font-size: 1.5rem;
  margin:0 !important;
}
.interview_container{
  padding: 4% 0;
  max-width: 740px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video_wrapper {
  position: relative;    
  width: 85%;
  margin:2% 0;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}
iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.interview_intro{
  width: 85%;
  font-size: 1.5rem;
  text-align: justify;
}
.interview_intro p{
  margin: 0 0 10px !important;
}

/*loader start*/
.loader-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #d56003;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*scroll top*/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: #ea6903;
    color: #fefeff;
    /*background-color:#3498db;*/
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}



/*reponsive start*/
@media only screen and (max-width: 900px) {
  .cover {
      width: 45%;
  }
}
@media only screen and (max-width: 740px) {
 .main-fullscreen-cover{
     width:90%
 }
 p,.main-paragraphs p{
     font-size: 3rem !important;
 }
 .Subtitle ul li,  li{
     font-size: 3.2rem !important;
 }
 .main_title p{
     margin:0 0 10px !important;
 }
 .Subtitle p,.main_title p{
     font-size: 3.5rem !important;
 }
 .fullscreen-cover{
     width: 80%;
 }
 .main-paragraphs , .Subtitle,.two_elections-title{
  width: 80%;
  margin: 0 auto;
 }
 .logo{
   width:11%;
 }
 footer div p{
  font-size: 4rem !important;
}
.bigFont{
  font-size: 2.5rem!important;
}
.author-title{
  font-size: 2.5rem;
  font-weight: bold;
}
.author_each-container span:not(:first-child),.additional-info{
  font-size: 2.2rem;
}

}
@media only screen and (max-width: 480px) {
  .cover {
      width: 95%;
  }
}
